body {
    margin: 0 auto;
}

#video-container {
    width: 640px;
    height: 365px;
    position: relative;
}

#video-controls {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;
    background-color: rgb(55, 67, 73);
}

#video-container:hover #video-controls {
    opacity: .9;
}

button {
    margin-left: 1%;
    width: 9%;
    background: rgba(0, 0, 0, .5);
    border: 0;
    color: #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

video::-webkit-media-controls {
    display: none !important;
}

button:hover {
    cursor: pointer;
}

#seek-bar {
    width: 60%;
}

#volume-bar {
    width: 8%;
}

#video {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
}

input {
    outline: none;
    border: none;
}

#video-container:fullscreen #video {
    width: 100%;
    height: 770px;
}